channels:
conda-forge

dependencies:
  - python=3
  - bokeh=0.13
  - dask-ml=0.10.0
  - distributed=1.24
  - jupyterlab=0.35.1
  - numpy
  - pandas
  - matplotlib
  - scipy
  - xarray
  - bottleneck
  - pip:
    - graphviz
    - dask_xgboost
    - seaborn
    - mimesis